/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#map-canvas {
  height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gmnoprint img {
  max-width: none;
}

#input-map {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}
